nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

#nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #7eb685;
  border-radius: 1rem;
}

img {
  object-fit: contain;
  position: relative;
}

#nutriverse {
  background-color: #deeddf;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  color: #7eb685;
  font-size: 1.25em;
}

#nutri {
  color: black;
}

#nutriverse:hover,
#nutriverse:active {
  color: white;
  text-decoration: underline;
  cursor: pointer;
  background-color: #7eb685;
}

.Navbar:hover {
  color: white;
}

.pipe {
  font-size: 1.5em;
  padding: 0.5rem 0rem 1rem;
}

/* #nav-links {
  padding: 0.25rem 1.5rem 0rem;
} */

#nav-links > h2:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* 
#home,
#recipes,
#popular {
  padding: 0.5rem 1rem;
} */

#home {
  padding: 0.5rem 1rem 1rem 3.5rem;
  /* border-right: solid white; */
}

#home:hover {
  border-radius: 1rem 0rem 0rem 1rem;
}

#recipes {
  padding: 0.5rem 1rem 1rem;
}

#popular {
  padding: 0.5rem 3.5rem 1rem 1rem;
  /* border-left: solid white; */
}

#popular:hover {
  border-radius: 0rem 1rem 1rem 0rem;
}

#home:hover,
#recipes:hover,
#popular:hover {
  background-color: #deeddf;
  text-decoration: underline;
  cursor: pointer;
}

#sign-up {
  padding: 0.5rem 1rem;
}

#sign-up-button {
  color: white;
  background-color: #7eb685;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
}

#sign-up-button:hover,
#sign-up-button:active {
  text-decoration: underline;
  cursor: pointer;
  background-color: #deeddf;
}
