.recipe-results {
    display: flex;
    align-items: space-between;
    justify-content: center;
    color: cadetblue;
    width:100%;
}

img {
    border-radius: 15px;
    max-width: 250px;
    margin-left: 2rem;
    
}

p {
    margin-left: 3rem;
}

.info {
    margin-left: 3rem;
}

.result {
    margin-top: 3rem;
}
