.account-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #ffffff;
  padding: 5rem;
  border-radius: 15px;
  max-width: 100%;
  color: black;
}

.h2-container {
  padding: 5rem;
  border-radius: 15px;
  max-width: 100%;
}
