.account-container {
  display: flex;
  margin: 2rem 8rem;
  background-color: #ffffff;
  padding: 5rem;
  border-radius: 15px;
  width: 80%;
  color: black;
}

.account-details-container {
  border-radius: 15px;
  max-width: 100%;
}

.user-details {
  margin-top: 1rem;
}
