@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


:root {
  font-family: 'Roboto', sans-serif;
  --color-bg:#f1f7f1;
  --color-text-header-1:#3A8221 ;
  --color-text-body-1:#969595;
  --color-text-body-2:#00000;
  --color-text-button:#FFFFFF;
  --color-button-1:#3F3D56;
  --color-button-2:#7EB685;
}

