.nutriverse__header {
    display: flex;
    flex-direction: row;
}

.nutriverse__header-content {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 8rem;
}

.nutriverse__header-content h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 75px;
    text-shadow: 0px 3px 1px #0000002d;
}

.main-text2 {
    color:var(--color-text-header-2);
}

.nutriverse__header-content p {
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    margin-top: 1.5rem;
}

/*get started button*/
.nutriverse__getstarted {
    width: 210px;
    height: 75px;
    margin-top: 1.5rem;
    background: #7EB685;
    border-radius: 45.36px;
    border: none;
    color: var(--color-text-button);
    cursor:pointer;
    font-size: 28px;
    font-weight: bold;
}
.nutriverse__getstarted:hover {
    color: rgba(79, 79, 79, 0.846);
    transition: color .4s;
}

.nutriverse__header-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .nutriverse__header-image img {
    width: 100%;;
    height: 100%;

} */

@media screen and (max-width:1050px){
    .nutriverse__header {
        flex-direction: column;
    }
    .nutriverse__header-content {
        margin: 0 0 3rem;
    } 
}

@media screen and (max-width:650px){

    .nutriverse__header-content h1 {
        font-size: 55px;
        line-height: 55px;
    }
    .nutriverse__header-content p {
        font-size: 22px;
        line-height: 28px;
    }

    .nutriverse__header-image {
        display:none;
    }
}

@media screen and (max-width:490px){

    .nutriverse__header-content h1 {
        font-size: 46px;
        line-height: 55px;
    }
    .nutriverse__header-content p {
        font-size: 22px;
        line-height: 28px;
    }

    .main-text1 {
        margin-top: -30px;
    }
}